target/

.project
.classpath
.cache
*.class
*.log

# sbt specific
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Ensime 
.ensime
.ensime_lucene/
.ensime_cache/

# Idea
.idea/
*.iml
.idea_modules
